#ms-usage-info{
  color:maroon;
  padding-left: 10px;
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#ms-usage-info .keyboard-keys{
  border: 1px solid maroon ;
}
#sw-hd-id{
  padding-left: 8px;
}
#sw-hd-ib{
  font-size: 14px;
  padding-left: 2px;
}
#filtered-selector-display-list{
  list-style: none;
  padding-left: 15px;
  padding-right: 10px;
  overflow: auto;
  height: 400px;
}
#filtered-selector-display-list li{
  padding-top: 2px;
  padding-bottom: 2px;
}

#filtered-selector-display-list li.selected{
  border: 1px solid darkorange ;
  font-weight: 700;
}

.ms-t-group{
  color: blue;
}
#ms-sel-info{
  position:fixed;
  bottom : 20px;
  right: 20px;
  width: 200px;
  padding-left: 3px;
  background-color: darkorange;
  z-index:999;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    border-radius: 2px;
    box-shadow: 4px 7px 18px rgba(0, 0, 0, 0.2);
}

  #sw-hd{
    position:fixed;
	top: 25% ;
	right: 50px ;
	width: 500px ;
    height: 450px ;
	z-index:999;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    border-radius: 2px;
    box-shadow: 4px 7px 18px rgba(0, 0, 0, 0.2);
    background: white;
}
#sw-fade {
    opacity:    0.2;
    background: #000;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
  }